body {
    font-family: 'Walter Turncoat';font-size: 22px;
}

.jumbotron .container{
    text-align: center;
}

.card {
    width: 100%;
    height: 100%;
    align-items: center;
}

.square-container {
    padding-top: 20px;
    width: 60%;  
    position: relative;
}

.square {
    position: relative;
    padding-top: 100%;  /* percentage in padding is from the parent width */
}
  
.square img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
   }

.alien-gallery .card-footer {
    border: none;
    background-color: transparent;
  }

